/* theme.css */

/* copyright 2022 MisterFrani */

/* VARIABLE */

:root {
    /* colors */
    --primary-clr:#0C2461;
    --secondary-clr:#E84855;
    --white: #ffffff;
    --dark: #22262D;
    --dark-gray: #15181d;
    --yellow: #feff9e;
    --navy: #0C2461;
    --green: #48c78f;
    --gray: hsla(0,0%,7%,.48);
    --gray-light: #f9f9f9;
}
 /* White mode */
  body {
    color: var(--dark);
    background-color: var(--white);
}
/* Container */
.container-fuild {background: var(--gray-light)}
 /* Header */

a, ion-icon  {color: var(--dark);}
/* text style */
header {background:var(--white);}
.link__bar{
    background: linear-gradient(
        transparent 0%,
        transparent 90%,
        var(--secondary-clr) 100%
     );
}
h2 {color: var(--dark);}
.navbar__nav.active {
    background-color: var(--white);
    box-shadow: 0 1em 2em rgba(216, 216, 216, 0.2);
}  
.project__card {-webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.28); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.28);}

 /* Dark mode */
body.dark-theme {
    color: var(--white);
    background-color: var(--dark);
  }
  /* Header */
  body.dark-theme header {background:var(--dark)!important;}
  body.dark-theme a, body.dark-theme ion-icon {color: var(--white);}
/* text style */
body.dark-theme h2 {color: var(--white);}
.name-colored {color: var(--secondary-clr);}
body.dark-theme .navbar__nav.active {
    background-color: var(--dark);
    box-shadow: 0 1em 2em rgba(0, 0, 0, .2);
}
::-moz-selection{
    background-color : var(--secondary-clr);
    color : var(--white);
  }
  ::selection{
    background-color : var(--secondary-clr);
    color : var(--white);
  }
/* Container */
body.dark-theme .container-fuild {background: var(--dark-gray)}
  /* contact */
.contact-btn {
    background-color: var(--secondary-clr);
    color: var(--white) !important;
}